#dadosGerais{
    padding: 10px 40px;
    height: 100vh;
    overflow-y: scroll;
}

/* Column height wraper */
.flexRow{
    display: flex !important;
    align-items: stretch !important;
    margin-bottom: 20px;
}
.column {
    flex: 1 !important;
}

