<div id="depesas-economicas">
    <div>
        <h1 style="display: flex; justify-content: space-between;">
            <div>
                <mat-icon style="color:#ffcd2a">trending_down</mat-icon>
                DESPESAS ECONÔMICAS
            </div>
            <b>Total: {{despesasEconomicasService.valorTotal() | currency:"BRL"}}</b>
        </h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <app-card  title="DESPESAS ECONÔMICAS" (click)="onClickDetalhes('despesasEconomicas')">
                    <h3>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                {{ despesasEconomicasService.totalDespesasEconomicas | currency:"BRL"}}
                            </div>
                            <div>
                                <mat-icon>visibility</mat-icon>
                            </div>
                        </div>
                    </h3>
                    <small>{{despesasEconomicasService.quantidadeDespesas}} Lançamentos</small>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card  title="Faturamento Direto" (click)="onClickDetalhes('faturamentoDireto')">
                    <h3>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                {{ despesasEconomicasService.totalFaturamentoDireto | currency:"BRL"}}
                            </div>
                            <div>
                                <mat-icon>visibility</mat-icon>
                            </div>
                        </div>
                    </h3>
                    <small>{{despesasEconomicasService.quantidadeFaturamentoDireto}} Lançamentos</small>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card  title="Materiais Próprios" (click)="onClickDetalhes('materiaisProprios')">
                    <h3>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                {{ despesasEconomicasService.totalMateriaisProprios | currency:"BRL"}}
                            </div>
                            <div>
                                <mat-icon>visibility</mat-icon>
                            </div>
                        </div>
                    </h3>
                    <small>{{despesasEconomicasService.quantidadeMateriaisProprios}} Lançamentos</small>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card  title="Provisão de Folha" (click)="onClickDetalhes('provisaoFolha')">
                    <h3>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                {{ despesasEconomicasService.totalProvisaoFolha | currency:"BRL"}}
                            </div>
                            <div>
                                <mat-icon>visibility</mat-icon>
                            </div>
                        </div>
                    </h3>
                    <small>{{despesasEconomicasService.quantidadeProvisaoFolha}} Lançamentos</small>
                </app-card>
            </div>
            <div class="col-md-4">
                <app-card  title="Transferência de Obras" (click)="onClickDetalhes('transferencias')">
                    <h3>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                {{ despesasEconomicasService.totalTransferencias | currency:"BRL"}}
                            </div>
                            <div>
                                <mat-icon>visibility</mat-icon>
                            </div>
                        </div>
                    </h3>
                    <small>{{despesasEconomicasService.quantidadeTransferencias}} Lançamentos</small>
                </app-card>
            </div>
        </div>
    </div>
    @if (isDetalhesOpen==true && detalhesOpen == "despesasEconomicas"){
        <app-detalhes-despesas title="Despesas Econômicas" [permiteAlteracao]="false" [permiteIndireto]="true" [data]="despesasEconomicasService.despesasEconomicas()" (close)="onCloseDetalhes()"/>
    }
    @if (isDetalhesOpen==true && detalhesOpen=="faturamentoDireto"){
        <app-detalhes-despesas title="Faturamento Direto" [permiteAlteracao]="true" [permiteIndireto]="false" [data]="despesasEconomicasService.faturamentoDireto()" (close)="onCloseDetalhes()"/>
    }
    @if (isDetalhesOpen==true && detalhesOpen=="materiaisProprios"){
        <app-detalhes-despesas title="Materiais Próprios" [permiteAlteracao]="true" [permiteIndireto]="false" [data]="despesasEconomicasService.materiaisProprios()" (close)="onCloseDetalhes()"/>
    }
    @if (isDetalhesOpen==true && detalhesOpen=="provisaoFolha"){
        <app-detalhes-despesas title="Provisão de Folha" [permiteAlteracao]="false" [permiteIndireto]="true" [data]="despesasEconomicasService.provisaoFolha()" (close)="onCloseDetalhes()"/>
    }
    @if (isDetalhesOpen==true && detalhesOpen=="transferencias"){
        <app-detalhes-despesas title="Transferência de Obras" [permiteAlteracao]="false" [permiteIndireto]="false" [data]="despesasEconomicasService.transferencias()" (close)="onCloseDetalhes()"/>
    }
</div>